.comments-section-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.comments-inner-container{
    width: 70%;
    height: 70%;
    background-color: #0f5032;
    margin-top: 20px;
    padding: 20px;
    overflow: hidden;
}
.input-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.input-field{
    width: 67%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    margin-right: 15px;
}
.input-field::placeholder{
    opacity: 0.3;
}
.input-field:focus::placeholder{
    color: transparent;
}
.add-button{
    width: 30%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    outline: none;
    background-color: #c0f4db;
    font-weight: 700;
    cursor: pointer;
}

.display-comments{
    width: 100%;
    height: 89%;
    overflow-y: scroll;
}