.form-wrapper {
  width: 100%;
  height: 100%;
  padding: 50px;
}
.stepper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.step {
  position: relative;
  text-align: center;
  flex: 1;
}
.step-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 10px auto;
  position: relative;
  z-index: 2;
}
.step::before {
  content: "";
  position: absolute;
  width: 100%; /* Make line stretch to next step */
  height: 4px;
  background-color: #ccc;
  top: 30%;
  left: -50%;
  z-index: 1;
}

.step:first-child::before {
  display: none;
}
.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
/** completed step */
.completed .step-number {
  background-color: #4caf50; /* Green for completed steps */
  color: white;
}

.completed::before {
  background-color: #4caf50;
}

/* Active Step */
.active .step-number {
  background-color: #4caf50 !important;
  color: white !important;
}
.step.active {
  background-color: transparent !important;
}

.active::before {
  background-color: #4caf50 !important;
  color: white !important;
}
