.auto-search-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 70%;
  min-height: 60%;
  padding: 30px;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input-field {
  width: 80%;
  padding: 15px 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.button {
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  background-color: rgb(10, 10, 10);
  color: white;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
}

.lists {
  list-style-type: none;
}
