.todolist-card-container{
    height: auto;
    border-radius: 7px;
    padding: 7px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.action-btn-container{
    width: 100%;
    padding: 10px 0;
}
.action-btn{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
    background-color: #c0f4db;
}