.login-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    width: 50%;
    height: 70%;
    background-color: #0f5032;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}